@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
.app__background {
    height: 250px;
}
.app__background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.app__logo {
    width: 50px;
}
.app__footer__list a, .copyright{
    font-size: 0.75em;
}
/******************/
/*******Home*******/
/******************/




/******************/
/*******About******/
/******************/



/******************/
/*******FAQ********/
/******************/